.contact{
    /* height: 1300px; */
    width: auto;
    padding: 3%;
    margin: 0 auto;
    margin-top: 70px;
}
.col-md-3{
    background: #84bb4aed;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

h2 {
    font-family: 'Bellfort';
}

h4 {
    font-size: large;
    line-height: 1;
}

.btnpresu {
    background-color: white !important;
    border: .5px solid black;
}

.btnpresu:hover {
    color: black;
}